@font-face {
  font-family: 'FF Tisa OT Black Italic';
  src: url('FF_Tisa/FF Tisa OT Black Italic.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FF Tisa OT Black';
  src: url('FF_Tisa/FF Tisa OT Black.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FF Tisa OT Bold Italic';
  src: url('FF_Tisa/FF Tisa OT Bold Italic.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FF Tisa OT Bold';
  src: url('FF_Tisa/FF Tisa OT Bold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FF Tisa OT Italic';
  src: url('FF_Tisa/FF Tisa OT Italic.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FF Tisa OT Light Italic';
  src: url('FF_Tisa/FF Tisa OT Light Italic.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FF Tisa OT Light';
  src: url('FF_Tisa/FF Tisa OT Light.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FF Tisa OT Medium Italic';
  src: url('FF_Tisa/FF Tisa OT Medium Italic.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FF Tisa OT Medium';
  src: url('FF_Tisa/FF Tisa OT Medium.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FF Tisa OT Thin Italic';
  src: url('FF_Tisa/FF Tisa OT Thin Italic.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FF Tisa OT Thin';
  src: url('FF_Tisa/FF Tisa OT Thin.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FF Tisa OT XBold Italic';
  src: url('FF_Tisa/FF Tisa OT XBold Italic.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FF Tisa OT XBold';
  src: url('FF_Tisa/FF Tisa OT XBold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FF Tisa OT';
  src: url('FF_Tisa/FF Tisa OT.otf');
  font-weight: normal;
  font-style: normal;
}
